<ion-header>
  <ion-toolbar color="primary">
    <ion-title size="large">Health News
      <ion-chip>
        <ion-avatar>
          <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
        </ion-avatar>
        <ion-label>Mia Jacobs</ion-label>
      </ion-chip>

    </ion-title>
    
  </ion-toolbar>  
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Leaderboard</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-explore-container name="Tab 4 page"></app-explore-container>

  <ion-card>
    <img alt="health food" src="https://img.freepik.com/free-photo/view-vegetables-fruits-arrangement_23-2148949671.jpg?w=2000&t=st=1670467468~exp=1670468068~hmac=db462c7b1ff4243c4de02c9e5642b03321624c61e645880c838a0eab79c4dade" />
    <ion-card-header>
      <ion-card-title>How Many Servings of Veggies are Recommended?</ion-card-title>
      <ion-card-subtitle>Going Green</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      Article discusses the importance of eating veggies.  What benefits various veggies offer. Appropriate proportions.
    </ion-card-content>
    <ion-button expand="block" color="light" class="ReadOn">Read On</ion-button>
  </ion-card>


  <ion-card>
    <img alt="blood pressure" src="https://img.freepik.com/free-photo/nurse-measuring-patient-blood-pressure_53876-14933.jpg?w=1800&t=st=1670467634~exp=1670468234~hmac=5cdf433bc22c04ba358a053cc4e755db2ced52d21133e78d171def95d38c2cdf" />
    <ion-card-header>
      <ion-card-title>Stress and Blood Pressure</ion-card-title>
      <ion-card-subtitle>Strokes are real</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      Discusses how to avoid strokes, promotes positive mental health, also cardiovascular health is very important. 
    </ion-card-content>
    <ion-button expand="block" color="light" class="ReadOn">Read On</ion-button>
  </ion-card>

  <ion-card>
    <img alt="doctor" src="https://img.freepik.com/free-photo/i-love-my-job-so-much_329181-2178.jpg?w=1480&t=st=1670467951~exp=1670468551~hmac=4d0cf1b31717bb8a2823ae7de8b6bf96a835d423ea2093611a0f9e1c9cfd1781" />
    <ion-card-header>
      <ion-card-title>Doctor Related Article</ion-card-title>
      <ion-card-subtitle>Doctor Specialty</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      Discusses named specialty.  Exciting and important information that would be of interest to the reader. 
    </ion-card-content>
    <ion-button expand="block" color="light" class="ReadOn">Read On</ion-button>
  </ion-card>

  <ion-card>
    <img alt="lab" src="https://img.freepik.com/free-photo/close-up-scientist-working-with-microscope_23-2148882093.jpg?w=1800&t=st=1670468015~exp=1670468615~hmac=ab20ab39f988c2927699c30c4d2a0ea37bc4303cf6fa2ce5d25c60f5f20627d1" />
    <ion-card-header>
      <ion-card-title>Article relating to labwork</ion-card-title>
      <ion-card-subtitle>New Research</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      Discusses the large biotech companies that are making some great strides in breakthrough research.
    </ion-card-content>
    <ion-button expand="block" color="light" class="ReadOn">Read On</ion-button>
  </ion-card>


  <ion-card>
    <img alt="wellbeing" src="https://img.freepik.com/free-photo/one-hiking-lifestyle-summer-yoga_1150-1002.jpg?w=1800&t=st=1670468171~exp=1670468771~hmac=bb921cc62ef1da56e36fdceed0d2901fd391262d0324aec574f6d60bce2147d4" />
    <ion-card-header>
      <ion-card-title>Article Relating to Wellbeing</ion-card-title>
      <ion-card-subtitle>Your Wellbeing</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      Article discusses the benefits of being mindful of your own wellbeing.
    </ion-card-content>
    <ion-button expand="block" color="light" class="ReadOn">Read On</ion-button>
  </ion-card>

  <ion-card>
    <img alt="healthcare technology" src="https://img.freepik.com/free-photo/female-doctor-with-smart-glasses-touching-virtual-screen-medical-technology_53876-124699.jpg?w=1800&t=st=1670468414~exp=1670469014~hmac=59b6fa2d96dad5e7bd90d16ad639c0169ff2ddc0b22c70bc716c723edfe2019a" />
    <ion-card-header>
      <ion-card-title>Article Relating to Healthcare Technology</ion-card-title>
      <ion-card-subtitle>New Tech Coming Soon</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      Article discusses the latest and greatest healthcare tech coming to consumers in the near future.
    </ion-card-content>
    <ion-button expand="block" color="light" class="ReadOn">Read On</ion-button>
  </ion-card>
</ion-content>