<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Exercises
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Exercises</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-explore-container name="Tab 2 page"></app-explore-container>

  <div class="wrapper">
    <h2>Choose Exercise Type</h2>
  
    <div class="ion-activatable ripple-parent">
      Running
      <ion-ripple-effect class="custom-ripple"></ion-ripple-effect>
    </div>

    <div class="ion-activatable ripple-parent">
      Walking
      <ion-ripple-effect class="custom-ripple"></ion-ripple-effect>
    </div>

    <div class="ion-activatable ripple-parent">
      Hiking
      <ion-ripple-effect class="custom-ripple"></ion-ripple-effect>
    </div>

    <div class="ion-activatable ripple-parent">
      Biking  
      <ion-ripple-effect class="custom-ripple"></ion-ripple-effect>
    </div>

    <div class="ion-activatable ripple-parent">
      Rowing
      <ion-ripple-effect class="custom-ripple"></ion-ripple-effect>
    </div>

    <div class="ion-activatable ripple-parent">
      Swimming
      <ion-ripple-effect class="custom-ripple"></ion-ripple-effect>
    </div>

    <div class="ion-activatable ripple-parent">
      Bootcamp
      <ion-ripple-effect class="custom-ripple"></ion-ripple-effect>
    </div>

    <div class="ion-activatable ripple-parent">
      Crossfit
      <ion-ripple-effect class="custom-ripple"></ion-ripple-effect>
    </div>

    <div class="ion-activatable ripple-parent">
      Weightlifting
      <ion-ripple-effect class="custom-ripple"></ion-ripple-effect>
    </div>

    <div class="ion-activatable ripple-parent">
      Yoga
      <ion-ripple-effect class="custom-ripple"></ion-ripple-effect>
    </div>
  </div>

</ion-content>
