<ion-header>
  <ion-toolbar color="primary">
    <ion-title size="large">Exercise Journal Entries
      <ion-chip>
        <ion-avatar>
          <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
        </ion-avatar>
        <ion-label>Mia Jacobs</ion-label>
      </ion-chip>

    </ion-title>
    
  </ion-toolbar>  
</ion-header>


    <h3>Enter Custom Workout Journal Entry</h3>


<ion-content class="content">
  <ion-list>
    <ion-item-sliding *ngFor="let item of items; let i = index">

      <ion-item>
        <p>{{item.workout}} : {{item.entry}}</p>

        <ion-datetime-button datetime="datetime" slot="end"></ion-datetime-button>

        <ion-modal [keepContentsMounted]="true">
          <ng-template>
            <ion-datetime id="datetime"></ion-datetime>
          </ng-template>
        </ion-modal>
      </ion-item>

      


      <ion-item-options>
        <ion-button (click)="editItem(item, i)" ion-button color="primary" icon-start>
          <ion-icon name="create"></ion-icon>
          Edit
        </ion-button>
        <ion-button (click)="removeItem(item, i)" ion-button color="danger" icon-start>
          <ion-icon name="trash"></ion-icon>
          Delete
        </ion-button>
      </ion-item-options>
    </ion-item-sliding>
   
  </ion-list>


  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="presentAlert()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  
</ion-content>
